body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: #c9d1d9;
  background-color: #06090f;
}

#tpl-div {
  display: none;
}

#canvas {
  position: absolute;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 1em;
  font-size: 0.75rem;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1em;
  color: #c9d1d9;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  border: 1px solid #2f353c;
  background-color: #21252c;
  -webkit-transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

button .material-icons {
  font-size: 0.75rem;
}

button .material-icons + span {
  margin-left: 0.5em;
}

button:hover, button:focus {
  border: 1px solid #8a939e;
  background-color: #2f353c;
}

button:active {
  background-color: #0d1117;
}

.card {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
}

.card:hover {
  -webkit-box-shadow: 0 0 0 0.25em #8a939e;
          box-shadow: 0 0 0 0.25em #8a939e;
}

.dialog {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 25em;
  padding: 1.5em 2em;
  color: #c9d1d9;
  border-radius: 1em;
  border: 1px solid #2f353c;
  background-color: #0d1117;
}

.dialog p {
  pointer-events: none;
}

.dialog.response {
  background-color: #0f1a24;
}

.dialog.reply {
  background-color: #130f24;
}

.reply-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid #2f353c;
  background-color: rgba(6, 9, 15, 0.8);
}

.reply-panel .dialog {
  width: 20em;
}

.reply-panel .dialog:not(:first-child) {
  margin-top: 1em;
}

#card-control {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr 1fr / 1fr;
  border-radius: inherit;
}

#card-control button {
  border: none;
  border-radius: 0;
}

#card-control button#delete:hover, #card-control button#delete:focus {
  background-color: #da3734;
}

#card-control .material-icons {
  font-size: 0.75rem;
}

#dialog-edit {
  resize: none;
  overflow-y: hidden;
  color: inherit;
  background-color: inherit;
  width: 100%;
  border: none;
}

#bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  background-color: #0d1117;
}

#bottom-nav button {
  font-size: 1rem;
}

#bottom-nav button .material-icons {
  font-size: 1.25rem;
}
/*# sourceMappingURL=App.css.map */