$bg-color: hsl(220, 43%, 4%);
$emp-color: hsl(216, 28%, 7%);
$txt-color: hsl(210, 17%, 82%);

$btn-color: hsl(215, 15%, 15%);
$btn-hover-color: hsl(212, 12%, 21%);
$border-color: hsl(212, 12%, 21%);
$border-hover-color: hsl(212, 9%, 58%);

body {
  height: 100vh;
  width: 100vw;

  overflow: hidden;

  color: $txt-color;
  background-color: $bg-color;

  &:active {
    cursor: move;
  }
}

#root {
  height: 100%;
  width: 100%;
}

#canvas {
  position: absolute;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5em 1em;

  font-size: 0.75rem;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1em;
  color: $txt-color;

  cursor: pointer;
  outline: none;

  border-radius: 10px;
  border: 1px solid $border-color;
  background-color: $btn-color;

  transition: 0.2s cubic-bezier(.3, 0, .5, 1);

  .material-icons {
    font-size: 0.75rem;

    // If there's text next to it, add margin
    &+span {
      margin-left: 0.5em;
    }
  }

  &:hover,
  &:focus {
    border: 1px solid $border-hover-color;
    background-color: $btn-hover-color;
  }

  &:active {
    background-color: $emp-color;
  }
}

.card {
  position: absolute;

  user-select: none;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.dialog {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 25em;
  padding: 1.5em 2em;

  color: $txt-color;

  border-radius: 1em;
  border: 1px solid $border-color;
  background-color: $emp-color;

  p {
    pointer-events: none;
  }

  &.response {
    background-color: hsl(210, 40%, 10%);

    &:hover {
      box-shadow: 0 0 0 0.25em $border-hover-color;
    }
  }

  &.reply {
    background-color: hsl(250, 40%, 10%);
  }
}

.replyPanel {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  width: fit-content;
  padding: 1em;

  border-radius: 1em;
  border: 1px solid $border-color;
  background-color: fade-out($bg-color, 0.2);

  &:hover {
    box-shadow: 0 0 0 0.25em $border-hover-color;
  }

  .dialog {
    width: 20em;
  }

  .dialog:not(:first-child) {
    margin-top: 1em;
  }
}

.cardControl {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;

  display: grid;
  grid-template: 1fr 1fr / 1fr;
  border-radius: inherit;

  button {
    border-radius: 0;
    border: none;

    &#delete:hover,
    &#delete:focus {
      background-color: hsl(1, 69%, 53%);
    }
  }

  .material-icons {
    font-size: 0.75rem;
  }
}

#dialogEdit {
  width: 100%;

  resize: none;
  overflow-y: hidden;

  color: inherit;
  border: none;
  background-color: inherit;
}

#bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 1em;

  background-color: $emp-color;

  button {
    font-size: 1rem;

    .material-icons {
      font-size: 1.25rem;
    }
  }
}